


{% extends "admin/base.html" %}
{%load staticfiles%}
{% block title %} {{ title }} | TourGh {%endblock%}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"> TourGh </a></h1>
{%endblock%}

{%block extrastyle%}
<style>
    #header{
        background-color: #832121;
    
    }
    .module h2, .module caption, .inline-group h2{
        background: #832121;
    }
    a:link, a:visited{
        color:  #9d8d3b;
    }
    .button, input[type=submit], input[type=button], .submit-row input, a.button{
       background-color: #832121; 
    }
    div.breadcrumbs{
         background-color: #832121; 
    }
   body.login{
    
   }

   #content-related{
    
   }

   .submit-row input.default{
       background-color: #832121; 
   }
     
</style>

{%endblock%}

  {% block sidebar %}
  
  {% endblock %}



{%block nav-global%} {%endblock%}