{% extends 'base.html' %}
{% load staticfiles%}


{% block hotel_detail%}




	
<img src= '{{instance.image.url}}'  style=" width:100%; height:200px; margin-top:0px;"/><br/>



<div class="container" style="margin-top:50px; text-align:center;">

	<div class="col-md-4" style="padding-right:30px;"> <!-- basic info -->

		<h1>{{instance.name}}<br/></h1>

		
		<small>Adress:</small> {{instance.address}}</br>
		<small>E-mail:</small> {{instance.email}}</br>
		<small>phone:</small>  {{instance.phone}}
		</br>

		

	</div><!-- end ofbasic info -->


	<div class="col-md-4"> <!-- description -->

		

		<h2> Description</h2>
		

		{{instance.description }}<br/>

		
	</div> <!-- end description -->



	<div class="col-md-4">

		<h1>{space for a map image}<br/></h1> <!-- bmap view -->

			{%block google%}
			{%endblock%}

		{% if instance.gmap_url %} 


		<a href="{{instance.gmap_url}}" class="btn btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Get Map Direction</span></a> 
		{%endif%}  <!-- end map -->

	</div>



</div>

{%endblock%}
