{% extends 'base.html' %}
{% load staticfiles%}

 <html>

<body> 
<h1> {{ title}}  working </h1>

{% block hotellist%}

</head>

  <body>
    </nav><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          
          <div class="row"  >
            {% for obj in hotel_list %}

            <div class="col-xs-6 col-lg-4">
             <a href= "{% url 'detail' id=obj.id %}"> <h2>{{obj.name}}</h2> </a>

              		{% if obj.image %}
              	<img src= '{{obj.image.url }}' class='img-responsive'/><br/>
              		{% endif%}

              <p style=" padding-right:">  
				<small>Region:</small>	{{obj.region}}<br/>
					<small> Rating:</small>   {{obj.rating}}<br/> 
					{{obj.description| linebreaks|truncatechars:50 }}<br/>
					 </p>
              <p><a class="btn btn-default" href="{% url 'detail' id=obj.id %}" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
              {% endfor %}
            
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>



{% endblock%}






</body>

 </html>



 