{% extends 'base.html' %}

{%block intro%}


<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Tour Gh</h1> 
                        <h3>Lets Help Get You Settled...</h3>
                        <hr class="intro-divider">

                    
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{% url 'hotel'%}" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Hotel</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Restaurant</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Tourist Sites</span></a>
                            </li>

                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Shopping Malls</span></a>
                            </li><br>
                            <li style="padding:25px;">
                                <a href="templates/android-debug.apk" download="android-debug.apk" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Download Our App!</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            
        </div>
        <!-- /.container -->

    </div>

    {%endblock%}